<html lang='en'>

<head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='../../css/all.css' />
    <link rel='stylesheet' href='../../kit_module/bootstrap-5.2.2-dist/css/bootstrap.css' />
    <script src='../../kit_module/jquery-3.6.1.min.js'></script>
    <script src='../../kit_module/bootstrap-5.2.2-dist/js/bootstrap.js'></script>
    <title>ScheduleService</title>
</head>

<body>
    <div id="container">
        <div id="header">

        </div>
        <div id="content">
            {{{ body }}}
        </div>
        <div id="footer">

        </div>
    </div>
</body>

</html>