    <link
      rel='stylesheet'
      href='../../kit_module/fullcalendar-5.11.3/lib/main.min.css'
    />
    <script src="../../kit_module/moment-with-locales.min.js"></script>
    <script src='../../kit_module/fullcalendar-5.11.3/lib/main.min.js'></script>
    <div class='m-4'>
      <h1>排程</h1>
      <div id='calendar'></div>
    </div>
  <script src='../../js/fakeData.js'></script>
  <script src='../../js/monitor.js'></script>