<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='../../css/all.css' />
    <link
      rel='stylesheet'
      href='../../kit_module/bootstrap-5.2.2-dist/css/bootstrap.css'
    />
    <script
      src='../../kit_module/bootstrap-5.2.2-dist/js/bootstrap.js'
    ></script>
    <script src='../../kit_module/jquery-3.6.1.min.js'></script>
    <title>ScheduleService</title>
  </head>
  <body>
    <div class='m-4'>
      <h1>排程</h1>
      <div class='card'>
        <div class='card-body'>
          <form>
            <div class='row w-50'>
              <div class='col-6 mb-3'>
                <label for='enableScheduleService' class='col-form-label fw-bolder'>啟用
                  Schedule Service：</label>
                <select class='form-select' id='enableScheduleService' required></select>
              </div>
              <hr />
            </div>
            <div class='d-flex'>
              <div class='row w-50'>
                <div class='col-6'>
                  <label
                    for='rabbitMqIp'
                    class='col-form-label fw-bolder'
                  >RabbitMq IP：</label>
                  <input
                    type='text'
                    class='form-control'
                    id='rabbitMqIp'
                    required
                  />
                </div>
                <div class='col-6'>
                  <label
                    for='rabbitMqPort'
                    class='col-form-label fw-bolder'
                  >RabbitMq Port：</label>
                  <input
                    type='text'
                    class='form-control'
                    id='rabbitMqPort'
                    required
                  />
                </div>
              </div>
              <div class='row w-50 rabbitMqUser'>
                <div class='col-6'>
                  <label
                    for='rabbitMqAccount'
                    class='col-form-label fw-bolder'
                  >RabbitMq 帳號：</label>
                  <input
                    type='text'
                    class='form-control'
                    id='rabbitMqAccount'
                    required
                  />
                </div>
                <div class='col-6'>
                  <label
                    for='rabbitMqPassword'
                    class='col-form-label fw-bolder'
                  >RabbitMq 密碼：</label>
                  <input
                    type='password'
                    class='form-control'
                    id='rabbitMqPassword'
                    required
                  />
                </div>
              </div>
            </div>
            <div class='row w-50'>
              <div class='col-6 mb-3'>
                <label
                  for='queueNameInput'
                  class='col-form-label fw-bolder'
                >輸入Queue名稱：</label>
                <input
                  type='text'
                  class='form-control'
                  id='queueNameInput'
                  required
                />
              </div>
              <div class='col-6 mb-3'>
                <label
                  for='queueNameOutput'
                  class='col-form-label fw-bolder'
                >輸出Queue名稱：</label>
                <input
                  type='text'
                  class='form-control'
                  id='queueNameOutput'
                  required
                />
              </div>
              <hr />
            </div>
            <div class='row w-50'>
              <div class='col-6 mb-3'>
                <label
                  for='account'
                  class='col-form-label fw-bolder'
                >登入帳號：</label>
                <input type='text' class='form-control' id='account' required />
              </div>
              <div class='col-6 mb-3'>
                <label
                  for='password'
                  class='col-form-label fw-bolder'
                >登入密碼：</label>
                <input
                  type='password'
                  class='form-control'
                  id='password'
                  required
                />
              </div>
              <hr />
            </div>
            <div class='d-flex'>
              <div class='row w-50'>
                <div class='col-6'>
                  <label
                    for='postgreSqlIp'
                    class='col-form-label fw-bolder'
                  >PostgreSQL IP：</label>
                  <input
                    type='text'
                    class='form-control'
                    id='postgreSqlIp'
                    required
                  />
                </div>
                <div class='col-6'>
                  <label
                    for='postgreSqlPort'
                    class='col-form-label fw-bolder'
                  >PostgreSQL Port：</label>
                  <input
                    type='text'
                    class='form-control'
                    id='postgreSqlPort'
                    required
                  />
                </div>
              </div>
              <div class='row w-50 postgreUser'>
                <div class='col-6'>
                  <label
                    for='postgreSqlAccount'
                    class='col-form-label fw-bolder'
                  >PostgreSQL 帳號：</label>
                  <input
                    type='text'
                    class='form-control'
                    id='postgreSqlAccount'
                    required
                  />
                </div>
                <div class='col-6'>
                  <label
                    for='postgreSqlPassword'
                    class='col-form-label fw-bolder'
                  >PostgreSQL 密碼：</label>
                  <input
                    type='password'
                    class='form-control'
                    id='postgreSqlPassword'
                    required
                  />
                </div>
              </div>
            </div>
            <div class='row w-50'>
              <div class='col-6 mb-3'>
                <label
                  for='postgreSqlDbName'
                  class='col-form-label fw-bolder'
                >PostgreSQL DB 名稱：</label>
                <input
                  type='text'
                  class='form-control'
                  id='postgreSqlDbName'
                  required
                />
              </div>
              <div class='col-6 mb-3 align-self-end'>
                <button
                  type='button'
                  id='postgreBtn'
                  class='btn btn-outline-primary'
                  onclick='postgreSqlTest()'
                >連線測試</button>
                <span id="postgreSuccess" class='badge text-bg-success mx-3 px-3 d-none'>成功</span>
                <span id="postgreFail" class='badge text-bg-danger mx-3 px-3 d-none'>失敗</span>
              </div>
              <hr />
            </div>
            <div class='d-flex'>
              <div class='row w-50'>
                <div class='col-6'>
                  <label for='mongoIp' class='col-form-label fw-bolder'>Mongo
                    IP：</label>
                  <input
                    type='text'
                    class='form-control'
                    id='mongoIp'
                    required
                  />
                </div>
                <div class='col-6'>
                  <label for='mongoPort' class='col-form-label fw-bolder'>Mongo
                    Port：</label>
                  <input
                    type='text'
                    class='form-control'
                    id='mongoPort'
                    required
                  />
                </div>
              </div>
              <div class='row w-50 mongoUser'>
                <div class='col-6'>
                  <label
                    for='mongoAccount'
                    class='col-form-label fw-bolder'
                  >Mongo 帳號：</label>
                  <input
                    type='text'
                    class='form-control'
                    id='mongoAccount'
                    required
                  />
                </div>
                <div class='col-6'>
                  <label
                    for='mongoPassword'
                    class='col-form-label fw-bolder'
                  >Mongo 密碼：</label>
                  <input
                    type='password'
                    class='form-control'
                    id='mongoPassword'
                    required
                  />
                </div>
              </div>
            </div>
            <div class='row w-50'>
              <div class='col-6 mb-3'>
                <label for='mongoDbName' class='col-form-label fw-bolder'>Mongo
                  DB 名稱：</label>
                <input
                  type='text'
                  class='form-control'
                  id='mongoDbName'
                  required
                />
              </div>
              <div class='col-6 mb-3 align-self-end'>
                <button
                  type='button'
                  id='mongoBtn'
                  class='btn btn-outline-primary'
                  onclick='mongoTest()'
                >連線測試</button>
                <span id="mongoSuccess" class='badge text-bg-success mx-3 px-3 d-none'>成功</span>
                <span id="mongoFail" class='badge text-bg-danger mx-3 px-3 d-none'>失敗</span>
              </div>
              <hr />
            </div>
            <div class="text-end">
              <button
                id='saveBtn'
                onclick='save()'
                type='button'
                class='btn btn-primary'
              >儲存</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
  <script src='../../js/option.js'></script>
  <script src='../../js/setup.js'></script>
</html>