    <nav class='navbar sticky-top navbar-expand-lg navbar-dark bg-primary'>
      <div class='container-fluid'>
        <a class='navbar-brand'>Schedule Service</a>
        <div class='collapse navbar-collapse' id='navbarNavAltMarkup'>
          <div class='navbar-nav'>
            <a class='nav-link' href='../Schedule/view'>排程</a>
            <a class='nav-link' href='../Monitor/view'>監控</a>
            <a class='nav-link' href='../ExecutionLog/view'>紀錄</a>
            <a class='nav-link' href='../Setup/view'>設定</a>
          </div>
        </div>
        <form class='navForm'>
          <button
            class='btn btn-outline-light navButton'
            type='button'
            id='logoutBtn'
          >登出</button>
        </form>
      </div>
    </nav>
  <script src='../../kit_module/jquery-3.6.1.min.js'></script>
  <script src='../../js/base.js'></script>