<!DOCTYPE html>
<html>

<body>
    <h1>I'm render from view</h1>
    <button onclick="test()">see console.log</button>
    <span id="word"></span>
</body>

<script src="/js/test.js"></script>

</html>